mixin h1(v)
	.container
		.row
			.col-12
				h1= v


mixin breadcrumbs(links)
	- var len=links.length
	
	ul.breadcrumb
		- var i=0
		while i < len-1
			li.breadcrumb__item
				a(href=links[i].href).breadcrumb__link=links[i].name
			- i++
		li.breadcrumb__item
			span=links[i].name

mixin svg(icon, name_class, width,height)
	svg.icon(class=name_class?name_class:'', width=width?width:'', height=height?height:'')
		use(xlink:href='assets/sprites/sprite.svg#'+icon)


mixin catalog-slider(sticker)
	.catalog-list.js-slider-offer
		-
			var list=[
				{img:'slide-offer1.jpg', title:'Барный стул Stag темно-серое сидение', old_price:'15 900 руб.', price:'10 390 руб.', label:'Б/у'},
				{img:'slide-offer2.png', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
				{img:'slide-offer3.png', title:'Барный стул Nina SG хром/белый', price:'5 760 руб.', label:'new'},
				{img:'slide-offer4.jpg', title:'Барный стул Stag коричневое сидение', price:'9 990 руб.', label:'Б/у'},
				{img:'slide-offer5.jpg', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
				{img:'slide-offer6.jpg', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
				{img:'slide-offer7.jpg', title:'Барный стул Nina SG хром/белый', price:'5 760 руб.', label:'new'},
				{img:'slide-offer8.jpg', title:'Барный стул Stag коричневое сидение', price:'9 900 руб.', label:'new'},
				{img:'slide-offer8.jpg', title:'Барный стул Stag коричневое сидение', price:'9 900 руб.', label:'new'},
			]

		each item in list
			.catalog-list__item
				.catalog-list__img
					img(src="/assets/img/"+item.img, alt="")

					if(sticker)
						.catalog-list__sticker= item.label

					.catalog-list__action
						a(href="#").btn.btn_small.btn_shadow
							span.btn__text Заказать

						a(href="#").btn-star
							+svg('ic-star','ic-star', '25', '25')

				.catalog-list__content
					.catalog-list__title
						a(href="#")= item.title

					.catalog-list__price
						if(item.old_price)
							span.catalog-list__old-price= item.old_price
						span.catalog-list__cur-price= item.price