extends ../layout/main

block variables
	- var title = 'Каталог';


block content
	section.catalog
		.container
			.row
				.col-3
					.catalog-menu-wrap
						.catalog-menu-wrap__title Категории

						-
							var list=[
								{text:'Мебель', count:'5 087'},
								{
									text:'Столы',
									count:'1 407',
									sub:[
										{text:'Письменные столы', count:'140'},
										{text:'Журнальные столики', count:'498'},
										{text:'Обеденные столы', count:'551'},
									]
								},
								{text:'Консоли', count:'198'},
								{text:'Стулья', count:'789'},
								{text:'Комоды и тумбы', count:'1 252'},
								{text:'Диваны', count:'365'},
								{text:'Кресла', count:'316'},
								{text:'Шкафы', count:'205'},
								{text:'Кровати', count:'252'},
								{text:'Пуфы и банкетки', count:'118'},
								{text:'Буфеты и витрины', count:'97'},
								{text:'Настенные полки', count:'69'},
								{text:'Напольные вешалки', count:'76'},
								{text:'Стеллажи', count:'218'},
								{text:'Освещение', count:'10 522'},
								{text:'Декор', count:'1 681'},
							]

						ul.catalog-menu
							each item in list
								li.catalog-menu__item(class=item.sub?'active':'')
									a(href="#").catalog-menu__link= item.text
										|&nbsp;
										span.catalog-menu__count= item.count

									if(item.sub)
										ul.catalog-menu__sub
											each sub in item.sub
												li.catalog-menu__item
													a(href="#").catalog-menu__link= sub.text
														|&nbsp;
														span.catalog-menu__count= sub.count


					.filter
						.filter__title Характеристики

						.filter__content
							-
								var list=[
									{
										title:'Цена',
										status:'open',
										range:'true',
									},
									{
										title:'Тип кресла',
										params:[
											'Параметр 1',
											'Параметр 2',
											'Параметр 3',
											'Параметр 4',
											'Параметр 5',
										]
									},
									{
										title:'Материал',
										params:[
											'Ткань',
											'Дерево',
											'Натуральная кожа',
											'Экокожа',
											'Сталь',
											'Алюминий',
											'МДФ',
											'Шпон',
											'Замша',
											'Натуральный мех',
											'Натуральная кожа',
											'Экокожа',
											'Сталь',
											'Алюминий',
											'МДФ',
											'Шпон',
										]
									},
									{
										title:'Стиль',
										params:[
											'Параметр 1',
											'Параметр 2',
											'Параметр 3',
										]
									},
									{
										title:'Размер',
										params:[
											'Параметр 1',
											'Параметр 2',
										]
									},
									
								]
							
							each sect, num in list
								.filter__sect.js-filter-sect(class=sect.status=='open'?'open':'')
									.filter__head.js-filter-head= sect.title
										.filter__arr

									.filter__info.js-filter-info
										if(sect.range)
											.range
												.range__slider
													#slider-range.js-slider-range(data-min="0", data-max="60000", autocomplete="off")

												.range__fields
													input#slider-range-min.js-slider-range-min(type="text", placeholder="0 руб.", autocomplete="off")
													input#slider-range-max.js-slider-range-max(type="text", placeholder="60 000 руб.", autocomplete="off")
										else
											.filter__list.js-scroll-content
												each param, index in sect.params
													.filter__param
														.input-check
															input(type='checkbox',id='checkbox'+num+index)
															label.input-check__label(for='checkbox'+num+index)
																span.input-check__mark
																span.input-check__text= param

										

				.col-9
					-
						var breadcrumbs=[
							{href:'/',name:'Главная'},
							{href:'#',name:'Мебель'},
						];

					+breadcrumbs(breadcrumbs)

					h1 Дизайнерская мебель

					.catalog-top
						.sort
							.sort__label Сортировать:

							select.js-select
								option(value="Популярности") от дешевых к дорогим
								option(value="Цене по возрастанию") от дорогих к дешовым
								option(value="Цене по убыванию") По возрастанию цены
								option(value="Популярности") По убыванию цены

						.page-count
							.page-count__label Показывать на странице:
							
							.page-count__list
								a(href="#").page-count__item.active 9
								a(href="#").page-count__item 18
								a(href="#").page-count__item Все


					.catalog-list
						-
							var list=[
								{img:'slide-offer1.jpg', title:'Барный стул Stag темно-серое сидение', old_price:'15 900 руб.', price:'10 390 руб.', label:'Б/у'},
								{img:'slide-offer2.png', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
								{img:'slide-offer3.png', title:'Барный стул Nina SG хром/белый', price:'5 760 руб.', label:'new'},
								{img:'slide-offer4.jpg', title:'Барный стул Stag коричневое сидение', price:'9 990 руб.', label:'Б/у'},
								{img:'slide-offer5.jpg', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
								{img:'slide-offer6.jpg', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
								{img:'slide-offer7.jpg', title:'Барный стул Nina SG хром/белый', price:'5 760 руб.', label:'new'},
								{img:'slide-offer8.jpg', title:'Барный стул Stag коричневое сидение', price:'9 900 руб.', label:'new'},
								{img:'slide-offer8.jpg', title:'Барный стул Stag коричневое сидение', price:'9 900 руб.', label:'new'},
							]

						each item in list
							.catalog-list__item
								.catalog-list__img
									img(src="/assets/img/"+item.img, alt="")

									.catalog-list__sticker= item.label

									.catalog-list__action
										a(href="#").btn.btn_small
											span.btn__text Заказать

										a(href="#").catalog-list__star
											+svg('ic-star','ic-star', '25', '25')

								.catalog-list__content
									.catalog-list__title
										a(href="#")= item.title

									.catalog-list__price
										if(item.old_price)
											span.catalog-list__old-price= item.old_price
										span.catalog-list__cur-price= item.price


					.pager
						a.pager__arr(href='#')
							+svg('ic-prev','ic-prev', '7', '14')

						a.pager__item(href='#') 1
						a.pager__item.active(href='#') 2
						a.pager__item(href='#') 3
						span.pager__item ...
						a.pager__item(href='#') 16
						a.pager__item(href='#') 17

						a.pager__arr(href='#')
							+svg('ic-next','ic-next', '7', '14')

	include ../components/about