extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section.top-slider.js-top-slider
		-
			var list=[
				{title:'Коллекция барной мебели в стиле', type:'Loft', img:'top-slide1.jpg'},
				{title:'Коллекция барной мебели в стиле 2', type:'Loft', img:'top-slide2.jpg'},
				{title:'Коллекция барной мебели в стиле 3', type:'Loft', img:'top-slide3.jpg'},
				{title:'Коллекция барной мебели в стиле 4', type:'Loft', img:'top-slide4.jpg'},
			]

		each item in list
			.top-slider__item
				.top-slider__img(style="background-image: url(/assets/img/"+item.img+")")
				.top-slider__content
					.container
						.row
							.col-5
								.top-slider__title= item.title
								.top-slider__type= item.type
								a.btn.btn_border(href="#")
									span.btn__text Подробнее
								

	section.catalog-sect
		.container
			.row
				-
					var list=[
						{img:'catalog-sect1.jpg', text:'Мебель', col:'5'},
						{img:'catalog-sect2.jpg', text:'Свет', col:'4'},
						{img:'catalog-sect3.jpg', text:'Декор', col:'3'},
						{img:'catalog-sect4.jpg', text:'Посуда', col:'6'},
						{img:'catalog-sect5.jpg', text:'Инвентарь для ресторанов', col:'6'},
						{img:'catalog-sect6.jpg', text:'Текстиль', col:'3'},
						{img:'catalog-sect7.jpg', text:'Зеркала', col:'3'},
						{img:'catalog-sect8.jpg', text:'Распродажа', col:'3'},
						{img:'catalog-sect9.jpg', text:'Тестовая категория', col:'3'},
					]

				each item in list
					div(class="col-"+item.col)
						a(href="#").catalog-sect__item
							.catalog-sect__img(style="background-image: url(/assets/img/"+item.img+")")
							.catalog-sect__text= item.text

	.container
		.row
			.col-12
				hr

	section.slider-offer-wrap
		.container
			.row
				.col-12
					.h1 Лучшие предложения

					.slider-offer.js-slider-offer
						-
							var list=[
								{img:'slide-offer1.jpg', title:'Барный стул Stag темно-серое сидение', old_price:'15 900 руб.', price:'10 390 руб.', label:'Б/у'},
								{img:'slide-offer2.png', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
								{img:'slide-offer3.png', title:'Барный стул Nina SG хром/белый', price:'5 760 руб.', label:'new'},
								{img:'slide-offer4.jpg', title:'Барный стул Stag коричневое сидение', price:'9 990 руб.', label:'Б/у'},
								{img:'slide-offer5.jpg', title:'Барный стул Viola SG 65 серо-коричневый', old_price:'15 900 руб.', price:'13 090 руб.', label:'new'},
								{img:'slide-offer6.jpg', title:'Барный стул Nina SG хром/белый', price:'5 760 руб.', label:'new'},
							]

						each item in list
							.slider-offer__item
								.slider-offer__img
									img(src="/assets/img/"+item.img, alt="")

									.slider-offer__sticker= item.label

									.slider-offer__action
										a(href="#").btn.btn_small
											span.btn__text Заказать

										a(href="#").slider-offer__star
											+svg('ic-star','ic-star', '25', '25')

								.slider-offer__content
									.slider-offer__title
										a(href="#")= item.title

									.slider-offer__price
										if(item.old_price)
											span.slider-offer__old-price= item.old_price
										span.slider-offer__cur-price= item.price

	section.services-wrap.bg-grey
		.container
			.row
				.col-12
					.services
						-
							var list=[
								{icon:'ic-master-class', width:'53', height:'53', text:'Мастер<br>классы'},
								{icon:'ic-consulting', width:'50', height:'50', text:'Консалтинг HORECA'},
								{icon:'ic-restoration', width:'68', height:'48', text:'Реставрация мебели'},
								{icon:'ic-design', width:'47', height:'47', text:'Дизайнерские услуги'},
								{icon:'ic-calendar', width:'40', height:'40', text:'Расписание на фотосессии в интерьере'},
							]

						each item in list
							.services__item
								a(href="#").services__icon
									+svg(item.icon, item.icon, item.width, item.height)

								.services__text
									a(href="#")= item.text


					.services-wrap__more
						a(href="#").btn.btn_border
							span.btn__text Показать все услуги


	section.news-wrap
		.container
			.row
				.col-12
					.h1 Последние новости

		.news-list
			.container
				.row
					-
						var list=[
							{img:'news1.jpg', title:'Столы, свет и новая коллекция Boho', text:'ТВ-тумбы со стеклянными фасадами, диваны-кровати, кофейные столики со столешницами под мрамор, подвесы в стиле лофт и много других новинок!'},
							{img:'news2.jpg', title:'Столы, свет и новая коллекция Boho', text:'ТВ-тумбы со стеклянными фасадами, диваны-кровати, кофейные столики со столешницами под мрамор, подвесы в стиле лофт и много других новинок!'},
							{img:'news3.jpg', title:'Столы, свет и новая коллекция Boho', text:'ТВ-тумбы со стеклянными фасадами, диваны-кровати, кофейные столики со столешницами под мрамор, подвесы в стиле лофт и много других новинок!'},
						]
					each item in list
						.col-4
							.news-list__item
								a(href="#").news-list__img-wrap
									span.news-list__img(style="background-image: url(/assets/img/"+item.img+")")

								.news-list__title
									a(href="#")= item.title

								.news-list__text= item.text