header.header
	.header-top
		.container
			.row
				.col-12
					.header-top__content
						.header-top__item
							-
								var list=[
									{text:'О нас'},
									{
										text:'Услуги',
										sublist:['Мастер классы', 'Консалтинг HORECA', 'Реставрация мебели', 'Дизайнерские услуги', 'Аренда декора и мебели']
									},
									{text:'Оплата'},
									{
										text:'Каталог товаров',
										sublist:['Раздел 1', 'Раздел 2', 'Раздел 3', 'Раздел 4']
									},
								]
							ul.top-menu
								each item in list
									li.top-menu__item
										a(href="#").top-menu__link= item.text
											if(item.sublist)
												.top-menu__arr

										if(item.sublist)
											ul.top-menu__sub
												each subitem in item.sublist
													li.top-menu__sub-item
														a(href="#").top-menu__sub-link= subitem
				
						.header-top__item
							-
								var list=[
									{text:'Доставка'},
									{text:'Дизайнерам'},
									{text:'Акции'},
									{text:'Блог'},
									{text:'Контакты'},
								]
							ul.top-menu
								each item in list
									li.top-menu__item
										a(href="#").top-menu__link= item.text
											if(item.sublist)
												.top-menu__arr

										if(item.sublist)
											ul.top-menu__sub
												each subitem in item.sublist
													li.top-menu__sub-item
														a(href="#").top-menu__sub-link= subitem

	.header-middle
		.container
			.row
				.col-12
					.header-middle__content
						.header-middle__contacts
							.header-middle__phone
								a(href="tel:+78009004541") 8 (800) 900-45-41

							.header-middle__mail
								a(href="mailto:info-komissionka@gmail.com") info-komissionka@gmail.com

						.header-middle__logo
							a(href="/")
								img(src="/assets/img/logo.svg", alt="")

						.header-middle__info
							.header-middle__address СПб, Английский пр, 24
							.header-middle__time Режим работы: Пн-Вс с 09:00 до 20:00

	nav.main-menu
		.container
			.row
				.col-12
					ul.main-menu__list
						-
							var list=['Мебель', 'Свет', 'Декор', 'Посуда', 'Оборудование для ресторанов', 'Интерьеры', 'Распродажа', 'Текстиль', 'Зеркала']
						
						each item in list
							li.main-menu__item
								a(href="#").main-menu__link= item


.action-panel
	-
		var list=[
			{icon:'ic-basket', width:'25', height:'25', link:'#', count:'0'},
			{icon:'ic-star', width:'25', height:'25', link:'#', count:'0'},
			{icon:'ic-search', width:'25', height:'25', link:'#search-popup', fancybox:'true'},
			{icon:'ic-person', width:'22', height:'25', link:'#auth-popup', fancybox:'true', class:'js-btn-auth-popup'},
		]

	each item in list
		if(item.fancybox)
			a.action-panel__item(class=item.count?'action-panel__item_indent':'', class=item.class?item.class:'', data-fancybox, data-src=item.link, href='javascript:;')
				span.action-panel__icon
					+svg(item.icon, item.icon, item.width, item.height)

					if(item.count)
						span.action-panel__count= item.count
		else
			a.action-panel__item(class=item.count?'action-panel__item_indent':'', href=item.link)
				span.action-panel__icon
					+svg(item.icon, item.icon, item.width, item.height)

					if(item.count)
						span.action-panel__count= item.count